<header id="header">
  <h1>todos</h1>
  {{todo-input id="new-todo" type="text" value=newTitle action="todos.createTodo" placeholder="What needs to be done?"}}
</header>
{{#if length}}
  <section id="main">
    {{#if canToggle}}
      {{input type="checkbox" id="toggle-all" checked=allTodos.allAreDone}}
    {{/if}}
    <ul id="todo-list">
      {{#each}}
        <li {{bind-attr class="isCompleted:completed isEditing:editing"}}>
          {{#if isEditing}}
            {{todo-input type="text" class="edit" value=bufferedTitle focus-out="doneEditing" insert-newline="doneEditing" escape-press="cancelEditing"}}
          {{else}}
            {{input type="checkbox" class="toggle" checked=isCompleted}}
            <label {{action "editTodo" on="doubleClick"}}>{{title}}</label>
            <button {{action "removeTodo"}} class="destroy"></button>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </section>
{{/if}}
