<header id="header">
  <h1>todos</h1>
  {{todo-input class="new-todo" type="text" value=newTitle action="createTodo" placeholder="What needs to be done?"}}
</header>
{{#if allTodos.length}}
  <section class="main">
    {{#if canToggle}}
      {{input type="checkbox" class="toggle-all" checked=allTodos.allAreDone}}
    {{/if}}
    <ul class="todo-list">
      {{#each allTodos as |todo|}}
        <li {{bind-attr class="isCompleted:completed isEditing:editing"}}>
          {{#if isEditing}}
            {{todo-input type="text" class="edit" value=bufferedTitle focus-out="doneEditing" insert-newline="doneEditing" escape-press="cancelEditing"}}
          {{else}}
            {{input type="checkbox" class="toggle" checked=isCompleted}}
            <label {{action "editTodo" on="doubleClick"}}>{{todo.title}}</label>
            <button {{action "removeTodo"}} class="destroy"></button>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </section>
{{/if}}
